<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<h1>${_("FAQ")}</h1>
<h2>${_("How to register to lear.mehackit.org?")}</h2>
<p>${_("Go to  <a href='http://learn.mehackit.org/register'>learn.mehackit.org/register</a> and create an account.")}</p>
<h2>${_("Who can join Mehackit courses?")}</h2>
<p>${_("Our material is free to use for all curious minds. Our material is built for classes with a Mehackit instructor, but you are free to use these materials also outside the class room, with or without an instructor. If you are a teacher and wish to organize a Mehackit course, please contact us at hello at mehackit.org.")}</p>
</section>

