<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<h1>${_("FAQ")}</h1>
<h2>${_("Question 1")}</h2>
<p>${_("Answer is Corrupted 'alcohol' post-semiotics wristwatch nodal point face forwards warehouse media kanji RAF dead boy advert market cardboard tank-traps. Kanji katana marketing warehouse faded soul-delay BASE jump-space rifle cardboard narrative otaku advert. Plastic singularity BASE jump courier sub-orbital market wristwatch cyber-construct rain katana. Boy artisanal pistol cardboard sprawl towards decay shanty town. Footage A.I. hacker voodoo god cardboard man convenience store rifle j-pop advert katana DIY warehouse refrigerator skyscraper. Knife shrine rifle concrete DIY augmented reality film drugs numinous dissident. Narrative semiotics faded neural geodesic beef noodles grenade disposable modem rebar cardboard otaku drone j-pop spook shrine. Pre-Shibuya vehicle tiger-team advert man hotdog. lorem ipsum do")}</p>
<h2>${_("Question 2")}</h2>
<p>${_("Answer is Corrupted alcohol post-semiotics wristwatch nodal point face forwards warehouse media kanji RAF dead boy advert market cardboard tank-traps. Kanji katana marketing warehouse faded soul-delay BASE jump-space rifle cardboard narrative otaku advert. Plastic singularity BASE jump courier sub-orbital market wristwatch cyber-construct rain katana. Boy artisanal pistol cardboard sprawl towards decay shanty town. Footage A.I. hacker voodoo god cardboard man convenience store rifle j-pop advert katana DIY warehouse refrigerator skyscraper. Knife shrine rifle concrete DIY augmented reality film drugs numinous dissident. Narrative semiotics faded neural geodesic beef noodles grenade disposable modem rebar cardboard otaku drone j-pop spook shrine. Pre-Shibuya vehicle tiger-team advert man hotdog. lorem ipsum do")}</p>
</section>


